<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Id: <input type="text" id="name" th:field="*{id}" /></p>
    <p>Message: <input type="text" id="surname" th:field="*{content}" /></p>
    <p><input type="button" value="Kaydet" onclick="saveuser()" /> <input type="reset" value="Reset" /></p>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

<script>
    $(document).ready(
        function () {
            var token = $("meta[name='_csrf']").attr("content");

            $.ajaxSetup({
                headers: {
                    "X-CSRF-Token": token
                }
            });



        })
    function saveuser() {
        var name=document.getElementById("name").value
        var surname=(document.getElementById("surname").value)


        $.ajax({
                type: "POST",
                url: "/greeting",
                async: false,
                data: {name: (name),
                    surname:surname

                },
                success: function (result) {
                    alert("Başarıyla kaydedilmiştir0");
                }
            }
        )
    }
</script>

</html>